.encabezado {
    text-align: center;
}

h2{
    color: black
    text-shadow: 1px 1px 1px white;
    -webkit-text-stroke: 0.1px white;
}

label{
    font-weight: bold;
    font-size: large;
    color: black
    text-shadow: 1px 1px 1px white;
    -webkit-text-stroke: 0.1px white;
}

body { 
    background: url(../imagenes/portada.jpg);
    background-size: cover;
    justify-content: center;
}
  
.titulo {
    padding: 1em;
}

.nav {
    display: flex;
    border: 2px solid;
    padding-left: 0;
    justify-content: center;
}

.item{
    font-size: x-large;
    list-style: none;
    align-items: stretch;
    color:black;
    text-transform: uppercase;
    padding: 20px;
    text-align: center;
    text-shadow: 1px 1px 1px white;
    -webkit-text-stroke: 0.1px white;
}

li:hover{
    background-color: aqua;  
}

.bloqueprincipal{
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: space-between;
}

.empresa{
    padding: 1em;
    width: 28%;
    color: black;
    text-align: center;
    text-shadow: 1px 1px 1px white;
    -webkit-text-stroke: 0.1px white;
}

.empresa2{
    padding: 10em;
    color: black;
    text-align: center;
    text-shadow: 1px 1px 1px white;
    -webkit-text-stroke: 0.1px white;
}  
  
.modelos{
    padding: 1em;
    width: 28%;
    color: black;
    text-align: center;
    text-shadow: 1px 1px 1px white;
    -webkit-text-stroke: 0.1px white;
}
  
.modelos2{
    padding: 1em;
    width: 100%;
    color: black;
    text-align: center;
    text-shadow: 1px 1px 1px white;
    -webkit-text-stroke: 0.1px white;
}

.contacto{
    padding: 1em;
    width: 28%;
    color: black;
    text-align: center;
    text-shadow: 1px 1px 1px white;
    -webkit-text-stroke: 0.1px white;
}

.media{
    display: flex;
    padding-left: 1em;
    justify-content:center;
}

thead{
    background-color:white;
}

table, td, tr{

        border: 1px solid black;
        text-align: center;
        text-shadow: 1px 1px 1px white;
        -webkit-text-stroke: 0.1px white;
}

.tablamodelos {
        width: 80%;
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
        margin-right: auto;
}

#formulario{
        text-align: center;
}



    
